body {
  background-color: bisque;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-color: blueviolet;
  height: 80px;
  margin-bottom: 40px;
  align-items: center;
  padding-left: 30px;
}

header > div {
  font-size: 30px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: auto;
}

.life-container {
  display: flex;
}

.life-container > h4 {
  display: flex;
  align-items: center;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.life-container > .life {
  margin-left: 4px;
}

.word-container {
  display: flex;
  margin: 40px;
}

.letter-container {
  width: 50px;
  min-height: 60px;
  margin-left: 8px;
  border-bottom: 3px solid black;
  text-align: center;
  font-size: 50px;
  font-family: Montserrat;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 4px 12px;
}

.input-container > div > label {
  font-size: 20px;
  color: black;
}

.input-container > div > input {
  height: 24px;
  width: 20px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.input-container > div > input:focus,
.input-container > div > input:focus {
  outline: none;
}

button.submit {
  background-color: inherit;
  border: 1px solid blueviolet;
  color: blueviolet;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  align-self: center;
  margin-top: 12px;
}

button.submit:hover {
  background-color: blueviolet;
  border: 0;
  color: white;
  transition: background-color 0.2s linear;
}

.success-container {
  display: none;
}

.used-letters-container {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  width: 300px;
  height: 120px;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
}

.used-letters-container > h4 {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}

.used-letters-container > .used-letters {
  margin-top: 20px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.used-letters div {
  float: left;
}

.used-letters div:nth-child(14n + 1) {
  clear: left;
}
